<div class="card" *ngIf="!isFetchingNewestUsers">
    <div class="card-body">
        <div class="avatar-block" style="margin-left: 10px">
            <div class="item-avatar" *ngFor="let user of newestUsers">
                <a [routerLink]="['/user', user.username]" title="{{ user.username }}" rel="nofollow">
                    <img src="{{ user.avatar }}" class="rounded-circle" style="float:left; margin:3px" width="50"
                        height="50" alt="Profile picture of {{ user.username }}" />
                </a>
            </div>
        </div>
    </div>
</div>

<p *ngIf="isFetchingNewestUsers">Loading...</p>