<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Documentary</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let watchlist of watchlists | paginate: config">
            <td>
                <a [routerLink]="['/admin/watchlists', watchlist.id]">
                    {{ watchlist.id }}
                </a>
            </td>
            <td>
                <a [routerLink]="['/admin/users', watchlist.user.username]">
                    {{ watchlist.user.username }}
                </a>
            </td>
            <td>
                <span *ngIf="watchlist.documentary.type === 'movie'">
                    <a [routerLink]="['/admin/documentaries/standalone', watchlist.documentary.slug]">
                        {{ watchlist.documentary.title }}
                    </a>
                </span>
                <span *ngIf="watchlist.documentary.type == 'series'">
                    <a [routerLink]="['/admin/documentaries/series', watchlist.documentary.slug]">
                        {{ watchlist.documentary.title }}
                    </a>
                </span>
            </td>
            <td>
                {{ watchlist.createdAt.date }}
            </td>
            <td>
                <span *ngIf="watchlist.updatedAt">
                    {{ watchlist.updatedAt.date }}
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>