<div class="container" >
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5" style="margin-top: 20px">
                <span *ngFor="let flashMessage of flashMessages">
                        <div class="alert alert-{{ flashMessage.class }}" role="alert">
                            {{ flashMessage.message }}
                        </div>
                </span>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && fForgotPassword.username.errors }" />
                            <div *ngIf="submitted && fForgotPassword.username.errors" class="invalid-feedback">
                                <div *ngIf="fForgotPassword.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div *ngIf="errors" class="alert alert-danger mt-3 mb-0">{{errors}}</div>
                        <button [disabled]="loading || !forgotPasswordForm.valid" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save
                        </button>
                    </form>
        </div>
    </div>
</div>