<br />

<span>
    <a [routerLink]="['/admin/documentaries/standalone/add']">
        <button class="btn btn-primary" type="submit">Add Standalone</button>
    </a>
</span>

<span>
    <a [routerLink]="['/admin/documentaries/series/add']">
        <button class="btn btn-primary" type="submit">Add Episodic</button>
    </a>
</span>

<br />

Type:
<select class='select-option' [(ngModel)]="type"
    #typeSelect
    (change)='onTypeSelected(typeSelect.value)'>
   <option class="option" value="all">All</option>
   <option class='option' 
   *ngFor='let type of types' 
   [value]="type.id">{{type.name}}</option>
</select>

Video Source:
<select class='select-option' [(ngModel)]="videoSource"
    #videoSourceSelect
    (change)='onVideoSourceSelected(videoSourceSelect.value)'>
    <option class="option" value="all">All</option>
    <option class='option' 
   *ngFor='let videoSource of videoSources' 
   [value]="videoSource.id">{{videoSource.name}}</option>
</select>

Category:
<select class='select-option' [(ngModel)]="category"
    #categorySelect
    (change)='onCategoriesSelected(categorySelect.value)'>
   <option class="option" value="all">All</option>
   <option class='option' 
   *ngFor='let category of categories' 
   [value]="category.slug">{{category.name}}</option>
</select>

Status:
<select class='select-option' [(ngModel)]="status"
    #statusSelect
    (change)='onStatusSelected(statusSelect.value)'>
   <option class="option" value="all">All</option>
   <option class='option' 
   *ngFor='let status of statuses' 
   [value]="status.id">{{status.name}}</option>
</select>

Featured:
<select class='select-option' [(ngModel)]="featured"
    #featuredSelect
    (change)='onFeaturedSelected(featuredSelect.value)'>
   <option class="option" value="all">All</option>
   <option class='option' 
   *ngFor='let featuredOption of featuredOptions' 
   [value]="featuredOption.id">{{featuredOption.id}}</option>
</select>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">slug</th>
        <th scope="col">Type</th>
        <th scope="col">Title</th>
        <th scope="col">Story Line</th>
        <th scope="col">Summary</th>
        <th scope="col">Category</th>
        <th scope="col">Year</th>
        <th scope="col">Length</th>
        <th scope="col">Status</th>
        <th scope="col">Views</th>
        <th scope="col">Short Url</th>
        <th scope="col">Poster</th>
        <th scope="col">Wide Image</th>
        <th scope="col">Video Source</th>
        <th scope="col">Video ID</th>
        <th scope="col">featured</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let documentary of documentaries | paginate: config">
        <td>
            <a [routerLink]="['/admin/documentaries', documentary.slug]">
              {{ documentary.slug }}
          </a>
        </td>
        <td>{{ documentary.type }}</td>
        <td>{{ documentary.title }}</td>
        <td>{{ documentary.storyline }}</td>
        <td>{{ documentary.summary }}</td>
        <td>{{ documentary.category.name }}</td>
        <td>{{ documentary.year }}</td>
        <td>{{ documentary.length }}</td>
        <td>{{ documentary.status }}</td>
        <td>{{ documentary.views }}</td>
        <td>{{ documentary.shortUrl }}</td>
        <td>{{ documentary.poster }}</td>
        <td>{{ documentary.wideImage }}</td>
        <td>{{ documentary.videoSources }}</td>
        <td><span *ngIf="documentary.standalone">
            {{ documentary.standalone.videoId }}
        </span></td>
        <td>{{ documentary.featured }}</td>
        <td><span *ngIf="documentary.createdAt">
            {{ documentary.createdAt.date }}
        </span></td>
        <td><span *ngIf="documentary.updatedAt">
            {{ documentary.updatedAt.date }}
        </span></td>
      </tr>
    </tbody>
  </table>
  <div>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>