<div class="container" >
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5" style="margin-top: 20px">
            <div class="card mb-1">
                <div class="row no-gutters">
                    <span class="card-text">
                        <div class="card-body">
                            <b>Name</b> <a style="margin-left: 10px" 
                                [routerLink]="['/user/edit/change-name']">change</a><br/>
                            {{ user.name }}
                        </div>
                    </span>
                </div>
            </div>

            <div class="card mb-1">
                <div class="row no-gutters">
                    <span class="card-text">
                        <div class="card-body">
                            <b>Username</b> <a style="margin-left: 10px" href="">change</a><br/>
                            @{{ user.username }}
                        </div>
                    </span>
                </div>
            </div>

            <div class="card mb-1">
                <div class="row no-gutters">
                    <span class="card-text">
                        <div class="card-body">
                            <b>Email</b> <a style="margin-left: 10px" href="">change</a><br/>
                            {{ user.email }}
                        </div>
                    </span>
                </div>
            </div>

            <div class="card mb-1">
                <div class="row no-gutters">
                    <span class="card-text">
                        <div class="card-body">
                            <b>Password</b> <a style="margin-left: 10px" href="">change</a><br/>
                        </div>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>