<a [routerLink]="['/admin/comments', comment.id, 'edit']">  
    <button class="btn btn-primary" type="submit">Edit</button>
    </a>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ comment.id }}</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>{{ comment.commentText }}</td>
        </tr>
        <tr>
            <td>Documentary</td>
            <td>{{ comment.documentary.title }}</td>
        </tr>
        <tr>
            <td>User</td>
            <td>{{ comment.user.username }}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{ comment.author }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ comment.email }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ comment.status }}</td>
        </tr>
    </tbody>
</table>