<nav class="navbar navbar-expand-lg navbar-static-top"
  style="background-color: #fff !important; border-bottom: 1px solid rgba(0,0,0,.125)">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">
      <span style="color: #000000 !important">
        <img class="img-responsive" width="30" height="30" src="/assets/doctv.png" alt="">
        DocumentaryWIRE</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
      aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/browse']" routerLinkActive="active">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/community']" routerLinkActive="active">Community</a>
        </li>

        <li class="nav-item">
          <form style="margin-left: 10px" class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </li>
      </ul>

      <li class="nav-item" style="margin-right: 50px">
        <a [routerLink]="['/add']" routerLinkActive="active">
          <button type="button" class="btn btn-success">+ Add / Upload</button>
        </a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item" style="margin-left: 10px">
        <a [routerLink]="['/login']" routerLinkActive="active">
          <button style="margin-right: 10px" type="button" class="btn btn-outline-info">Login</button>
        </a>
        <a [routerLink]="['/register']" routerLinkActive="active">
          <button type="button" class="btn btn-info">Register</button>
        </a>
      </li>
      <div *ngIf="isAuthenticated" ngbDropdown class="d-inline-block">
        <div *ngIf="hasMe">
          <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>
            <img class="rounded-circle" width="35" height="35" src="{{ me.avatar }}" /> {{ me.name }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a [routerLink]="['/user', me.username]" routerLinkActive="active">
              <button ngbDropdownItem>My Profile</button>
            </a>
            <button ngbDropdownItem>Another Action</button>
            <a [routerLink]="['/logout']" routerLinkActive="active">
              <button ngbDropdownItem>Logout</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>