<p>chat works!</p>

<div ng-bind-html="chat"></div>

<div [innerHTML]="chat"></div>

{{ chat }}


<script type="application/javascript">
	var iFlyChatDiv = document.createElement("div");iFlyChatDiv.className = 'iflychat-popup';document.body.appendChild(iFlyChatDiv);
</script>
<script type="application/javascript">
	var iFlyChatDiv2 = document.createElement("script");iFlyChatDiv2.src = "//cdn.iflychat.com/js/iflychat-v2.min.js?app_id=5f75b938-7f51-4e1e-a14d-4c7c32d842be";iFlyChatDiv2.async = true;document.body.appendChild(iFlyChatDiv2);
</script>