<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5" style="margin-top: 20px">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/add/standalone">Standalone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/add/episodic">Series</a>
                </li>
            </ul>

            <div *ngIf="!showPage || isFetchingDocumentaries">
                Loading...
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px">
                <button *ngIf="showAddTitleButton" type="button" class="btn btn-primary" (click)="toggleForm()">Add
                    Documentary</button>
            </div>
            <div style="margin-top: 20px" *ngIf="showDocumentaries">
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let myDocumentary of myDocumentaries | paginate: config">
                                <td>
                                    <a [routerLink]="['/add', 'episodic', myDocumentary.slug, 'edit']">
                                        {{ myDocumentary.title }}
                                    </a>
                                </td>
                                <td>{{ myDocumentary.status }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>

            <div *ngIf="showForm">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" formControlName="title" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imdbId">IMDB ID</label>
                        <input type="text" formControlName="imdbId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.imdbId.errors }" />
                        <button class="btn btn-secondary" (click)="openIMDBModal(imdbContent)">Search</button>
                        <div *ngIf="submitted && f.imdbId.errors" class="invalid-feedback">
                            <div *ngIf="f.imdbId.errors.required">IMDB Id is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="poster">Poster</label>
                        <input id="poster" type="file" (change)="onPosterChange($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.poster.errors }" />
                        <img [src]="posterImgURL" height="200" *ngIf="posterImgURL">
                        <div *ngIf="submitted && f.poster.errors">
                            <div *ngIf="f.poster.errors.required" style="font-size: 80%; color: #dc3545;">Poster is
                                required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wideImage">Wide Image</label>
                        <input id="wideImage" type="file" (change)="onWideImageChange($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.wideImage.errors }" />
                        <img [src]="wideImgURL" height="200" *ngIf="wideImgURL">
                        <div *ngIf="submitted && f.wideImage.errors">
                            <div *ngIf="f.wideImage.errors.required" style="font-size: 80%; color: #dc3545;">Wide Image
                                is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="storyline">Description</label>
                        <angular-editor formControlName="storyline" [config]="editorConfig"
                            [ngClass]="{ 'is-invalid': submitted && f.storyline.errors }">
                        </angular-editor>
                        <br />
                        <div *ngIf="submitted && f.storyline.errors">
                            <div *ngIf="f.storyline.errors.required" style="font-size: 80%; color: #dc3545;">Description
                                is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <textarea type="text" id="summary" formControlName="summary" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.summary.errors }"></textarea>
                        <div *ngIf="submitted && f.summary.errors" class="invalid-feedback">
                            <div *ngIf="f.summary.errors.required">Summary is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <span *ngIf="isFetchingCategories"><br />Loading...</span>
                        <select *ngIf="!isFetchingCategories" formControlName="category" class="form-control"
                            id="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                            <option disabled>Choose Category</option>
                            <option *ngFor="let categoryItem of categories" [value]="categoryItem.id">
                                {{ categoryItem.name }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                            <div *ngIf="f.category.errors.required">Category is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <span *ngIf="isFetchingYears"><br />Loading...</span>
                        <select *ngIf="!isFetchingYears" formControlName="year" class="form-control" id="year"
                            [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
                            <option disabled>Choose Year</option>
                            <option *ngFor="let yearItem of years" [value]="yearItem">
                                {{ yearItem }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                            <div *ngIf="f.year.errors.required">Year is required</div>
                        </div>
                    </div>

                    <div formArrayName="seasons">
                        <div *ngFor="let seas of form.get('seasons').controls; let i=index">
                            <legend>
                                <h3>Season {{ getSeasonNumber(seas) }}: </h3>
                            </legend> <span><button class="btn btn-secondary"
                                    (click)="deleteSeason(seas.value.number)">Delete Season</button></span>
                            <div [formGroupName]="i">

                                <div class="form-group">
                                    <label for="number">Season Number</label>
                                    <input formControlName="number" class="form-control"
                                        value="{{ getSeasonNumber(seas) }}"
                                        [ngClass]="{ 'is-invalid': submitted && seas.get('number').errors }"  />
                                </div>

                                <div formArrayName="episodes">
                                    <div *ngFor="let episode of seas.get('episodes').controls; let j=index">
                                        <legend>
                                            <h4>Episode {{ getEpisodeNumber(episode) }}</h4>
                                        </legend>
                                        <span><button class="btn btn-secondary"
                                                (click)="deleteEpisode(seas.controls.episodes, j)">Delete
                                                Episode</button></span>
                                        <div [formGroupName]="j">
                                            <input formControlName="number" type="hidden"
                                                value="{{ getEpisodeNumber(episode) }}" />
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input type="text" formControlName="title" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && episode.get('title').errors }" />
                                                <div *ngIf="submitted && episode.get('title').errors && episode.get('title').errors.required" style="font-size: 80%; color: #dc3545;">Title is
                                                    required
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="imdbId">IMDB ID</label>
                                                <input type="text" formControlName="imdbId" class="form-control" />
                                                <button class="btn btn-secondary"
                                                    (click)="openIMDBModal(imdbContent)">Search</button>
                                            </div>
                                            <div class="form-group">
                                                <label for="thumbnail">Thumbnail</label>
                                                <input id="thumbnail" type="file"
                                                    (change)="onThumbnailChange($event, i, j)"
                                                    [ngClass]="{ 'is-invalid': submitted && episode.get('thumbnail').errors }" />
                                                <img [src]="getThumbnailForSeasonAndEpsiode(i, j)" height="200">
                                                <div *ngIf="submitted && episode.get('thumbnail').errors">
                                                    <div *ngIf="episode.get('thumbnail').errors.required" style="font-size: 80%; color: #dc3545;">Thumbnail is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="storyline">Description</label>
                                                <angular-editor formControlName="storyline" [config]="editorConfig">
                                                </angular-editor>
                                                <div *ngIf="submitted && episode.get('storyline').errors">
                                                    <div *ngIf="episode.get('storyline').errors.required" style="font-size: 80%; color: #dc3545;">Description is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="summary">Summary</label>
                                                <textarea type="text" id="summary" formControlName="summary"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && episode.get('summary').errors }"></textarea>
                                                <div *ngIf="submitted && episode.get('summary').errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="episode.get('summary').errors.required">Summary is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Year:</label>
                                                <span *ngIf="isFetchingYears"><br />Loading...</span>
                                                <select *ngIf="!isFetchingYears" formControlName="year"
                                                    class="form-control" id="year"
                                                    [ngClass]="{ 'is-invalid': submitted && episode.get('year').errors }">
                                                    <option disabled>Choose Year</option>
                                                    <option *ngFor="let yearItem of years" [value]="yearItem">
                                                        {{ yearItem }}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && episode.get('year').errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="episode.get('year').errors.required">Year is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="length">Duration</label>
                                                <input type="text" formControlName="length" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && episode.get('length').errors }" />
                                                <div *ngIf="submitted && episode.get('length').errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="episode.get('length').errors.required">Duration is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-secondary"
                                        (click)="addNewEpisode(seas.controls.episodes, seas.value)">Add new
                                        Episode</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" (click)="addNewSeason()">Add Season</button>



                    <pre>{{form.value | json}}</pre>
                    <pre>{{ form.valid }}</pre>

                    <div *ngIf="errors" class="alert alert-danger mt-3 mb-0">{{errors}}</div>
                    <button class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                </form>
            </div>

            <ng-template #imdbContent let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-omdb">Search IMDB</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="imdbForm" (ngSubmit)="searchOMDB()">
                        <div class="form-group">
                            <label for="title">Title or ID</label>
                            <div class="input-group">
                                <input id="title" class="form-control" formControlName="title">
                            </div>
                        </div>

                        <button [disabled]="loading" class="btn btn-secondary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Search
                        </button>
                    </form>

                    <div style="margin-top: 20px">
                        <div *ngIf="isFetchingDocumentariesFromIMDB">Loading...</div>
                        <div class="card" *ngIf="showSearchedDocumentariesFromIMDB && !isFetchingDocumentariesFromIMDB">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"
                                    *ngFor="let searchedDocumentary of searchedDocumentariesFromIMDB">
                                    <span class="acitvity-item">
                                        <span class="activity-image">
                                            <a href="">

                                                <img alt='{{ searchedDocumentary.tiitle }}'
                                                    src='{{ searchedDocumentary.poster }}' style="margin-right: 20px"
                                                    height='200' width='160' /></a>
                                        </span>
                                        <div class="data">
                                            <span class="author">
                                                {{ searchedDocumentary.title }} <br />
                                            </span>
                                            <span class="excerpt">
                                                Type: {{ searchedDocumentary.type }} <br />
                                                Year: {{ searchedDocumentary.year }} <br />
                                                IMDB ID: {{ searchedDocumentary.imdbId }} <br />
                                                <button type="button" class="btn btn-secondary"
                                                    (click)="imdbView(searchedDocumentary.imdbId)">View</button>
                                            </span>
                                        </div>
                                    </span>


                                </li>
                            </ul>
                        </div>
                        <div *ngIf="isFetchingDocumentaryFromIMDB">Loading...</div>
                        <div class="card" *ngIf="showSearchedDocumentaryFromIMDB && !isFetchingDocumentaryFromIMDB">
                            <img style="float: left" alt='{{ searchedDocumentaryFromIMDB.title }}'
                                src='{{ searchedDocumentaryFromIMDB.poster }}' style="margin-right: 20px" height='200'
                                width='160' />

                            Title: {{ searchedDocumentaryFromIMDB.title }} <br />
                            Year: {{ searchedDocumentaryFromIMDB.year }} <br />
                            Duration: {{ searchedDocumentaryFromIMDB.duration }} <br />
                            IMDB ID: {{ searchedDocumentaryFromIMDB.imdbId }} <br />
                            IMDB Rating: {{ searchedDocumentaryFromIMDB.imdbRating }} <br />
                            IMDB Votes: {{ searchedDocumentaryFromIMDB.imdbVotes }} <br />
                            Plot: {{ searchedDocumentaryFromIMDB.storyline }} <br />
                            <button type="button" class="btn btn-secondary"
                                (click)="imdbSelect(searchedDocumentaryFromIMDB)">Select</button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #youtubeContent let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-youtube">Search Youtube</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="youtubeForm" (ngSubmit)="searchYoutube()">
                        <div class="form-group">
                            <label for="title">Title or ID</label>
                            <div class="input-group">
                                <input id="title" class="form-control" formControlName="title">
                            </div>
                        </div>

                        <button [disabled]="loading" class="btn btn-secondary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Search
                        </button>
                    </form>

                    <div style="margin-top: 20px">
                        <div *ngIf="isFetchingVideosFromYoutube">Loading...</div>
                        <div class="card" *ngIf="showSearchedVideosFromYoutube && !isFetchingVideosFromYoutube">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let searchedVideo of searchedVideosFromYoutube">
                                    <span class="acitvity-item">
                                        <span class="activity-image">
                                            <a href="">

                                                <img alt='{{ searchedVideo.snippet.title }}'
                                                    src='{{ searchedVideo.snippet.thumbnails.high.url }}'
                                                    style="margin-right: 20px" height='200' width='160' /></a>
                                        </span>
                                        <div class="data">
                                            <span class="author">
                                                {{ searchedVideo.snippet.title }} <br />
                                            </span>
                                            <span class="excerpt">
                                                {{ searchedVideo.snippet.description}}
                                                <button type="button" class="btn btn-secondary"
                                                    (click)="youtubeSelect(searchedVideo)">Select</button>
                                            </span>
                                        </div>
                                    </span>


                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </ng-template>

        </div>
    </div>
</div>