<a [routerLink]="['/admin/documentaries']" routerLinkActive="active">
    Documentaries
</a> | 
<a [routerLink]="['/admin/categories']" routerLinkActive="active">
    Categories
</a> | 
<a [routerLink]="['/admin/comments']" routerLinkActive="active">
    Comments
</a> | 
<a [routerLink]="['/admin/users']" routerLinkActive="active">
    Users
</a> | 
<a [routerLink]="['/admin/activity']" routerLinkActive="active">
    Activity
</a> | 
<a [routerLink]="['/admin/video-sources']" routerLinkActive="active">
    Video Sources
</a> | 
<a [routerLink]="['/admin/follows']" routerLinkActive="active">
    Follows
</a> | 
<a [routerLink]="['/admin/watchlists']" routerLinkActive="active">
    Watchlists
</a> | 
<a [routerLink]="['/admin/emails']" routerLinkActive="active">
    Emails
</a> | 
<a [routerLink]="['/admin/contacts']" routerLinkActive="active">
    Contacts
</a>

<router-outlet></router-outlet>

