<script>
    $(".pop").popover({ trigger: "manual", html: true, animation: false, container: 'body' } })
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                }
            }, 300);
        });  
</script>

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8">
            <h3>Welcome to DocumentaryWIRE</h3>
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Watch Documentaries Online</h1>
                    <p class="card-text">Discover thousands of eye-opening, paradigm shifting, and mind-blowing top
                        documentary films.</p>
                </div>
            </div>

            <div style="margin-top: 40px"></div>
            <h3>Featured</h3>
            <div class="card mb-3" *ngFor="let feat of featured">
                <img class="card-img-top" src="{{ feat.poster }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ feat.title }}</h5>
                    <p class="card-text">{{ feat.summary }}</p>
                    <!--
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                </div>
            </div>

            <p *ngIf="isFetchingFeaturedDocumentaries">Loading...</p>

            <div style="margin-top: 40px"></div>
            <h3>Trending</h3>
            <owl-carousel-o [options]="trendingOptions">
                <ng-template *ngFor="let documentary of trending" carouselSlide [width]="230" [id]="documentary.id">
                    <ng-template #popContent>{{ documentary.summary }}</ng-template>
                    <ng-template #popTitle><b>{{ documentary.title }}</b></ng-template>
                    <a href="http://localhost">
                        <img popover="content to be shown in the popover" popoverTitle="Popover header"
                            popoverPlacement="top" [popoverOnHover]="true" [popoverCloseOnClickOutside]="true"
                            [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false" [popoverAnimation]="true"
                            [popoverDismissTimeout]="1000" height="280" [src]="documentary.poster"
                            [alt]="documentary.title" [title]="documentary.title">
                        {{ documentary.title }}
                    </a>
                </ng-template>
            </owl-carousel-o>

            <p *ngIf="isFetchingTrendingDocumentaries">Loading...</p>

            <div style="margin-top: 40px"></div>
            <app-documentary-recent></app-documentary-recent>

            <div style="margin-top: 40px"></div>
            <app-documentary-recent-updated></app-documentary-recent-updated>

            <div style="margin-top: 40px"></div>
            <app-documentary-new-releases></app-documentary-new-releases>

            <div style="margin-top: 40px"></div>
            <h3>Popular</h3>
            <owl-carousel-o [options]="popularOptions">
                <ng-template *ngFor="let documentary of popularDocumentaries" carouselSlide [width]="230"
                    [id]="documentary.id">
                    <img height="280" [src]="documentary.poster" [alt]="documentary.title" [title]="documentary.title">
                    {{ documentary.title }}
                </ng-template>
            </owl-carousel-o>

            <p *ngIf="isFetchingPopularDocumentaries">Loading...</p>

            <!--
            <div class="card mb-1" *ngFor="let documentary of recentlyAdded">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="{{ documentary.poster }}" class="card-img" style="width: 160px; height: 200px"
                            alt="{{ documentary.title }}">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">

                            <a [routerLink]="['/', documentary.slug]">
                                <h5 class="card-title">{{ documentary.title }}</h5>
                            </a>
                            <p class="card-text">{{ documentary.summary }}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <!--<div style="clear:both"></div>
                  
                    <div style="margin-top: 40px" *ngIf="!isFetchingRecentlyUpdatedDocumentaries">
                    <h2>Recently Updated</h2>
                    <div class="card-deck" *ngFor="let cardDeck of recentlyUpdated | keyvalue">
                            <div class="card" style="margin-top: 20px" *ngFor="let documentary of cardDeck.value">
                                <ng-template #popContent>{{ documentary.summary }}</ng-template>
                        <ng-template #popTitle><b>{{ documentary.title }}</b></ng-template>
                            <a placement="right" [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave">
                                <img [src]="getSantizeUrl(documentary.poster)" class="card-img-top" style="width: 100%; height: 160px" alt="...">
                            </a>
                                <div class="card-body">
                                <h5 class="card-title">{{ documentary.title }}</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="isFetchingRecentlyUpdatedDocumentaries">Loading...</p>
                        <div style="clear:both"></div>
                        <div style="margin-top: 40px" *ngIf="!isFetchingNewDocumentaries">
                        <h2>New Documentaries</h2>
                        <div class="card-deck" *ngFor="let cardDeck of newDocumentaries | keyvalue">
                                <div class="card" style="margin-top: 20px" *ngFor="let documentary of cardDeck.value">
                                        <ng-template #popContent>{{ documentary.summary }}</ng-template>
                                        <ng-template #popTitle><b>{{ documentary.title }}</b></ng-template>
                                            <a placement="right" [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave">
                                                <img [src]="getSantizeUrl(documentary.poster)" class="card-img-top" style="width: 100%; height: 160px" alt="...">
                                            </a>
                                    <div class="card-body">
                                    <h5 class="card-title">{{ documentary.title }}</h5>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p *ngIf="isFetchingNewDocumentaries">Loading...</p>
                    -->

        </div>
        <div class="col-md-4">
            <div>
                <app-subscribe></app-subscribe>

                <div style="margin-top: 40px">
                    <h2>Members</h2>
                    <app-user-active></app-user-active>
                </div>

                <div style="clear: both"></div>
                <div style="margin-top: 40px">
                    <h2>Community</h2>
                    <app-community-latest></app-community-latest>
                </div>

                <div style="clear: both"></div>
                <div style="margin-top: 30px">
                    <app-categories></app-categories>                    
                </div>
                <div style="clear: both"></div>

                <div>
                    <h2>Duration</h2>
                    <app-duration-list></app-duration-list>
                </div>
                <div style="clear: both"></div>

                <div>
                    <h2>Years</h2>
                    <app-years-list></app-years-list>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {


            $(".owl-carousel").owlCarousel();
        })
    </script>