<div>
    <h2>Subscribe / Follow</h2>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p class="card-text">
                    <img src="/assets/email.png" width="50" height="50"
                        style="float: left; margin-right: 10px" />
                    <a onclick="window.open('https://feedburner.google.com/fb/a/mailverify?uri=DocumentaryWire', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"
                        target="popupwindow"
                        href="https://feedburner.google.com/fb/a/mailverify?uri=DocumentaryWire">Get the
                        latest
                        documentaries sent straight to your inbox.</a>
                </p>
            </li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="text-center">
                    <p class="card-text">
                        <img src="/assets/facebook.png" width="40" height="40"
                            style="margin-right: 5px" />
                        <img src="/assets/twitter.png" width="40" height="40"
                            style="margin-right: 5px" />
                        <img src="/assets/instagram.png" width="40" height="40"
                            style="margin-right: 5px" />
                        <img src="/assets/pinterest.png" width="40" height="40"
                            style="margin-right: 5px" />
                        <img src="/assets/gab.png" width="40" height="40" />
                    </p>
                </div>
            </li>
        </ul>
    </div>

</div>