
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User From</th>
            <th scope="col">User To</th>
            <th scope="col">Updated At</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let follow of follows | paginate: config">
            <td>{{ follow.id }}</td>
            <td>{{ follow.userFrom.username }}</td>
            <td>{{ follow.userTo.username }}</td>
            <td>{{ follow.updatedAt }}</td>
            <td>{{ follow.createdAt }}</td>
          </tr>
        </tbody>
      </table>
      <div>
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>