
<div class="container" >
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
           <p *ngIf="isFetchingUser">Loading...</p>
           <div *ngIf="!isFetchingUser" style="margin-bottom: 20px">
                <a [routerLink]="['/user', user.username]">
                    <img src="{{ user.avatar }}" class="rounded-circle"
                    style="float:left; margin-right: 10px"
                    width="100" height="100" alt="Profile picture of {{ user.name }}" />
                    </a>

               <h1><a [routerLink]="['/user', user.username]">{{ user.name }}</a></h1>
               @{{ user.username }}
            </div>
            <div style="clear:both"></div>
           <p *ngIf="isFetchingActivity">Loading...</p>
           <div *ngIf="!isFetchingActivity">
            <h5>Activity <a [routerLink]="['/user', user.username, 'activity']">(View All)</a></h5> 
            <div class="card mb-1" style="margin-top: 20px;" *ngFor="let communityItem of activity | paginate: config">
                  <div class="row no-gutters">
                      <div class="col-md-1">
                              <a [routerLink]="['/user', communityItem.user.username]">
                              <img src="{{ communityItem.user.avatar }}" class="rounded-circle"
                              style="float:left; margin:3px"
                              width="60" height="60" alt="Profile picture of {{ communityItem.user.name }}" />
                              </a>
                      </div>
                      <div class="col-md-11">
                      <div class="card-body">
                          <div *ngIf="communityItem.type == 'joined'">
                              <a [routerLink]="['/user', communityItem.user.username]" routerLinkActive="active">
                                  {{ communityItem.user.name }}</a> has joined
                          </div>
                          <div *ngIf="communityItem.type == 'added'">
                                  <a [routerLink]="['/user', communityItem.user.username]" >{{ communityItem.user.name }}</a> has added a documentary 
                                  <a [routerLink]="['/', communityItem.data.documentarySlug]">
                                      {{ communityItem.data.documentaryTitle }}
                                  </a>
                          </div>
                          <div *ngIf="communityItem.type == 'like'">
                                  <a [routerLink]="['/user', communityItem.user.username]" >{{ communityItem.user.name }}</a> has added a documentary 
                                  
                          <a [routerLink]="['/', communityItem.data.documentarySlug]">
                            {{ communityItem.data.documentaryTitle }}
                          </a> to their watch list
                          </div>
                          <div *ngIf="communityItem.type == 'comment'">
                                  <a [routerLink]="['/user', communityItem.user.username]">{{ communityItem.user.name }}</a> has added a comment to 
                                  <a [routerLink]="['/', communityItem.data.documentarySlug]">{{ communityItem.data.documentaryTitle }}</a> saying: {{ communityItem.data.comment }}
                          </div>
                      </div>
                      </div>
                  </div>
              </div>              
           </div>

           <p *ngIf="isFetchingDocumentaries">Loading...</p>
           <div *ngIf="!isFetchingDocumentaries">
              <h5 style="margin-top: 20px">Documentaries Added <a [routerLink]="['/user', user.username, 'added']">(View All)</a></h5>
              <div class="card-deck">
                  <div class="card" *ngFor="let documentary of documentaries">
                      <ng-template #popContent>{{ documentary.summary }}</ng-template>
                      <ng-template #popTitle><b>{{ documentary.title }}</b></ng-template>
                          <a class="pop" placement="right" [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave">
                              <img [src]="getSantizeUrl(documentary.poster)" class="card-img-top" style="width: 100%; height: 280px" alt="...">
                          </a>
                      
                      <div class="card-body">
                      
                      <a [routerLink]="['/', documentary.slug]">
                        <h5 class="card-title">{{ documentary.title }}</h5>
                      </a>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                  </div>
              </div>
              </div>

              <p *ngIf="isFetchingWatchlisted">Loading...</p>
           <div *ngIf="!isFetchingWatchlisted">
              <h5 style="margin-top: 20px">Watchlisted <a [routerLink]="['/user', user.username, 'watchlist']">(View All)</a></h5>
              <div class="card-deck">
                  <div class="card" *ngFor="let watchlist of watchlists">
                      <ng-template #popContent>{{ watchlist.documentary.summary }}</ng-template>
                      <ng-template #popTitle><b>{{ watchlist.documentary.title }}</b></ng-template>
                          <a class="pop" placement="right" [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave">
                              <img [src]="getSantizeUrl(watchlist.documentary.poster)" class="card-img-top" style="width: 100%; height: 280px" alt="...">
                          </a>
                      
                      <div class="card-body">
                      
                      <a [routerLink]="['/', watchlist.documentary.slug]">
                        <h5 class="card-title">{{ watchlist.documentary.title }}</h5>
                      </a>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                  </div>
              </div>
              </div>
        </div>
   </div>
</div>