<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-top: 20px">
            <div *ngIf="!isFetchingDocumentaries">
                <h2>Documentaries Released in {{ year }} - Page {{ page }}</h2>
                <div class="card" style="margin-bottom: 20px"
                    *ngFor="let documentary of documentaries | paginate: config">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="{{ documentary.poster }}" class="card-img" style="width: 160px; height: 200px"
                                alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">

                                <a [routerLink]="['/', documentary.slug]">
                                    <h5 class="card-title">{{ documentary.title }}</h5>
                                </a>
                                <p class="card-text">{{ documentary.summary }}.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>

            <p *ngIf="isFetchingDocumentaries">Loading...</p>
        </div>
        <div class="col-md-4" style="margin-top: 20px">

            <app-subscribe></app-subscribe>

            <div style="clear: both"></div>
            <div style="margin-top: 30px">
                <app-categories></app-categories>
            </div>

            <div style="clear: both"></div>

            <div>
                <h2>Duration</h2>
                <app-duration-list></app-duration-list>
            </div>
            <div style="clear: both"></div>

            <div>
                <h2>Years</h2>
                <app-years-list></app-years-list>
            </div>
        </div>
    </div>
</div>