<br />
Source:
<select class='select-option' [(ngModel)]="source"
    #sourceSelected
    (change)='onSourceSelected(sourceSelected.value)'>
    <option class="option" value="all">All</option>
    <option class='option' 
   *ngFor='let source of sources' 
   [value]="source.id">{{source.name}}</option>
</select>

Subscribed:
<select class='select-option' [(ngModel)]="subscribed"
    #subscribedSelected
    (change)='onSubscribedSelected(subscribedSelected.value)'>
    <option class="option" value="all">All</option>
    <option class='option' 
   *ngFor='let subscribedOption of subscribedOptions' 
   [value]="subscribedOption.id">{{subscribedOption.name}}</option>
</select>

<br />

<span>
    <a [routerLink]="['/admin/emails/add']">
        <button class="btn btn-primary" type="submit">Add Email</button>
    </a>
</span>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Source</th>
        <th scope="col">Subscribed</th>
        <th scope="col">Subscription Key</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emails | paginate: config">
        <td>
            <a [routerLink]="['/admin/emails', email.id]">
                {{ email.id }}
            </a>
        </td>
        <td>{{ email.email }}</td>
        <td>{{ email.source }}</td>
        <td>{{ email.subscribed }}</td>
        <td>{{ email.subscriptionKey }}</td>
        <td>
            <span *ngIf="email.createdAt">
                {{ email.createdAt.date }}
            </span>
        </td>
        <td>
            <span *ngIf="email.updatedAt">
                {{ email.updatedAt.date }}
            </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>