<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-top: 20px">
            <div *ngIf="!isFetchingCommunityItems">
                <h2>Community - Page {{ page }}</h2>
                <div class="card mb-1" style="padding: 10px;"
                    *ngFor="let communityItem of communityItems | paginate: config">
                    <div class="row no-gutters">
                        <div class="col-md-1">
                            <a [routerLink]="['/user', communityItem.username]">
                                <img src="{{ communityItem.user.avatar }}" class="rounded-circle"
                                    style="float:left; margin:3px" width="60" height="60"
                                    alt="Profile picture of {{ communityItem.name }}" />
                            </a>
                        </div>
                        <div class="col-md-11">
                            <div class="card-body">
                                <div *ngIf="communityItem.type == 'joined'">
                                    <a [routerLink]="['/user', communityItem.user.username]" routerLinkActive="active">
                                        {{ communityItem.user.name }}</a> has joined
                                </div>
                                <div *ngIf="communityItem.type == 'added'">
                                    <a
                                        [routerLink]="['/user', communityItem.user.username]">{{ communityItem.user.name }}</a>
                                    has added a documentary
                                    <a [routerLink]="['/', communityItem.data.documentarySlug]">
                                        {{ communityItem.data.documentaryTitle }}
                                    </a>
                                </div>
                                <div *ngIf="communityItem.type == 'watchlist'">
                                    <a
                                        [routerLink]="['/user', communityItem.user.username]">{{ communityItem.user.name }}</a>
                                    has added a documentary

                                    <a [routerLink]="['/', communityItem.data.documentarySlug]">
                                        {{ communityItem.data.documentaryTitle }}
                                    </a> to their watch list
                                    <br />
                                    <br />
                                    <img src="{{ communityItem.data.documentaryPoster }}" width="100" height="120"
                                        style="padding-right: 10px; float: left" />
                                    {{ communityItem.data.documentarySummary }}
                                </div>
                                <div *ngIf="communityItem.type == 'comment'">
                                    <a
                                        [routerLink]="['/user', communityItem.user.username]">{{ communityItem.user.name }}</a>
                                    has added a comment to
                                    <a
                                        [routerLink]="['/', communityItem.data.documentarySlug]">{{ communityItem.data.documentaryTitle }}</a>
                                    saying: <br /> <br />"{{ communityItem.data.commentText }}"
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
            <p *ngIf="isFetchingCommunityItems">Loading...</p>
        </div>
        <div class="col-md-4" style="margin-top: 20px">
            <app-subscribe></app-subscribe>
            <div style="margin-top: 20px">
                <h2>Newest Members</h2>
                <app-user-new></app-user-new>
            </div>

            <div style="margin-top: 20px">
                <h2>Active Members</h2>
                <app-user-active></app-user-active>
            </div>

        </div>
    </div>
</div>