<div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="editDocumentaryForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input
                    type="text"
                    id="title"
                    formControlName="title"
                    class="form-control">
                    <span
                    *ngIf="!editDocumentaryForm.get('title').valid && submitted"
                    class="help-block">
                    <span *ngIf="editDocumentaryForm.get('title').errors['required']">This field is required!</span>

                    </span>
                </div>
                <div class="form-group">
                    <label for="slug">Slug</label>
                    <input
                    type="text"
                    id="slug"
                    formControlName="slug"
                    class="form-control">
                    <span
                    *ngIf="!editDocumentaryForm.get('slug').valid && submitted"
                    class="help-block">Please enter a valid slug!</span>
                </div>
                <div class="form-group">
                  <label for="category">Category</label>
                  <select 
                    [(ngModel)]="documentary.category.id"
                    formControlName="category"
                    class="form-control"
                    id="category">
                      <option disabled>Choose Category</option>
                      <option *ngFor="let categoryItem of categories" 
                        [value]="categoryItem.id" 
                        [selected]="category == categoryItem.id">
                          {{ categoryItem.name }}
                      </option>
                    </select>
                  <span
                  *ngIf="!editDocumentaryForm.get('category').valid && submitted"
                  class="help-block">Please enter a valid category!</span>
              </div>
                <div class="form-group">
                    <label for="storyline">Storyline</label>
                    <angular-editor formControlName="storyline" [config]="editorConfig"></angular-editor>
                    <span
                    *ngIf="!editDocumentaryForm.get('storyline').valid && submitted"
                    class="help-block">Please enter a valid storyline!</span>
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                        <textarea
                        type="text"
                        id="summary"
                        formControlName="summary"
                        class="form-control"></textarea>
                    <span
                    *ngIf="!editDocumentaryForm.get('summary').valid && submitted"
                    class="help-block">Please enter a valid summary!</span>
                </div>
                
                <div formGroupName="standalone">
                  <div class="form-group">
                      <label for="videoSource">Video Source</label>
                      <select 
                        [(ngModel)]="documentary.standalone.videoSource.id"
                        formControlName="videoSource"
                        class="form-control"
                        id="videoSource">
                          <option disabled>Choose Video Source</option>
                          <option *ngFor="let videoSourceItem of videoSources" 
                            [value]="videoSourceItem.id" 
                            [selected]="videoSource == videoSourceItem.id">
                            {{ videoSourceItem.name }}
                          </option>
                        </select>
                      <span
                      *ngIf="!editDocumentaryForm.get('standalone.videoSource').valid && submitted"
                      class="help-block">Please enter a valid video source!</span>
                  </div>
                  <div class="form-group">
                    <label for="videoId">Video ID</label>
                    <input
                      [(ngModel)]="documentary.standalone.videoId"
                        type="text"
                        id="videoId"
                        formControlName="videoId"
                        class="form-control">
                    <button class="btn btn-secondary" (click)="openYoutubeModal(youtubeContent)">Search</button>
                    <span
                    *ngIf="!editDocumentaryForm.get('standalone.videoId').valid && submitted"
                    class="help-block">Please enter a valid video id!</span>
                </div>
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <select 
                      formControlName="year"
                      class="form-control"
                      id="year">
                        <option disabled>Choose Year</option>
                        <option *ngFor="let yearItem of years" 
                          [value]="yearItem" 
                          [selected]="documentary.year == yearItem">
                          {{ yearItem }}
                        </option>
                      </select>
                    <span
                    *ngIf="!editDocumentaryForm.get('year').valid && submitted"
                    class="help-block">Please enter a valid year!</span>
                </div>
                <div class="form-group">
                    <label for="length">Length (in minutes)</label>
                    <input
                    type="text"
                    id="length"
                    formControlName="length"
                    class="form-control">
                    <span
                    *ngIf="!editDocumentaryForm.get('length').valid && submitted"
                    class="help-block">Please enter a valid year!</span>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select 
                      [(ngModel)]="documentary.status"
                      formControlName="status"
                      class="form-control"
                      id="status">
                        <option disabled>Choose Status</option>
                        <option *ngFor="let statusItem of statuses" 
                          [value]="statusItem.value" 
                          [selected]="documentary.status == statusItem.value">
                          {{ statusItem.name }}
                        </option>
                      </select>
                    <span
                    *ngIf="!editDocumentaryForm.get('status').valid && submitted"
                    class="help-block">Please enter a valid status!</span>
                </div>
                <div class="form-group">
                    <label for="imdbId">IMDB ID</label>
                    <input
                    type="text"
                    id="imdbId"
                    formControlName="imdbId"
                    class="form-control">
                    <button class="btn btn-secondary" (click)="openIMDBModal(imdbContent)">Search</button>
                </div>
                <div class="form-group">
                  <label for="poster-file">Poster</label>
                  <input id="poster-file" type="file" (change)="onPosterChange($event)" />
                  <img [src]="posterImgURL" height="200" *ngIf="posterImgURL">
                  <span
                    *ngIf="!editDocumentaryForm.get('poster').valid && submitted"
                    class="help-block">Please add a poster!</span>
                </div>
                <div class="form-group">
                  <label for="wide-image-file">Wide Image</label>
                  <input id="wide-image-file" type="file" (change)="onWideImageChange($event)" />
                  <img [src]="wideImgURL" height="200" *ngIf="wideImgURL">
                  <span
                    *ngIf="!editDocumentaryForm.get('wideImage').valid && submitted"
                    class="help-block">Please add a wide image!</span>
                </div>
              <span
                *ngIf="!editDocumentaryForm.valid && editDocumentaryForm.touched"
                class="help-block">Please enter valid data!</span>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>

          <ng-template #imdbContent let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-omdb">Search IMDB</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="imdbForm" (click)="searchOMDB()">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <div class="input-group">
                      <input id="title" class="form-control" formControlName="title">
                    </div>
                  </div>
            
                  <button [disabled]="loading" class="btn btn-secondary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Search
                </button>
                </form>
            
                <div style="margin-top: 20px">
                    <div *ngIf="isFetchingDocumentariesFromIMDB">Loading...</div>
                        <div class="card" *ngIf="showSearchedDocumentariesFromIMDB && !isFetchingDocumentariesFromIMDB">
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item" *ngFor="let searchedDocumentary of searchedDocumentariesFromIMDB">
                                          <span class="acitvity-item">
                                          <span class="activity-image">
                                              <a href="">
                          
                                                  <img alt='{{ searchedDocumentary.Title }}' src='{{ searchedDocumentary.Poster }}'
                                                       style="margin-right: 20px" height='200' width='160' /></a>
                                              </span>
                                              <div class="data">
                                                  <span class="author">
                                                        {{ searchedDocumentary.Title }} <br />
                                                  </span>
                                                      <span class="excerpt">
                                                          Type: {{ searchedDocumentary.Type }} <br />
                                                          Year: {{ searchedDocumentary.Year }} <br />
                                                          IMDB ID: {{ searchedDocumentary.imdbID }} <br />
                                                          <button type="button" class="btn btn-secondary" (click)="imdbView(searchedDocumentary.imdbID)">View</button>
                                                      </span>
                                                  </div>
                                              </span>
            
            
                                  </li>
                              </ul>
                            </div>
                            <div *ngIf="isFetchingDocumentaryFromIMDB">Loading...</div>
                            <div class="card" *ngIf="showSearchedDocumentaryFromIMDB && !isFetchingDocumentaryFromIMDB">
                                <img style="float: left" alt='{{ searchedDocumentaryFromIMDB.title }}' src='{{ searchedDocumentaryFromIMDB.poster }}'
                                style="margin-right: 20px" height='200' width='160' />
            
                                Title: {{ searchedDocumentaryFromIMDB.title }} <br />
                                Year: {{ searchedDocumentaryFromIMDB.year }} <br />
                                Duration: {{ searchedDocumentaryFromIMDB.duration }} <br />
                                IMDB ID: {{ searchedDocumentaryFromIMDB.imdbId }} <br />
                                IMDB Rating: {{ searchedDocumentaryFromIMDB.imdbRating }} <br />
                                IMDB Votes: {{ searchedDocumentaryFromIMDB.imdbVotes }} <br />
                                Plot: {{ searchedDocumentaryFromIMDB.storyline }} <br />
                                <button type="button" class="btn btn-secondary" (click)="imdbSelect(searchedDocumentaryFromIMDB)">Select</button>
                            </div>
                        </div>
              </div>
            </ng-template>
            <ng-template #youtubeContent let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-youtube">Search Youtube</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="youtubeForm" (click)="searchYoutube()">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <div class="input-group">
                        <input id="title" class="form-control" formControlName="title">
                      </div>
                    </div>
              
                    <button [disabled]="loading" class="btn btn-secondary">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Search
                  </button>
                  </form>
              
                  <div style="margin-top: 20px">
                      <div *ngIf="isFetchingVideosFromYoutube">Loading...</div>
                          <div class="card" *ngIf="showSearchedVideosFromYoutube && !isFetchingVideosFromYoutube">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let searchedVideo of searchedVideosFromYoutube">
                                            <span class="acitvity-item">
                                            <span class="activity-image">
                                                <a href="">
                            
                                                    <img alt='{{ searchedVideo.snippet.title }}' src='{{ searchedVideo.snippet.thumbnails.high.url }}'
                                                         style="margin-right: 20px" height='200' width='160' /></a>
                                                </span>
                                                <div class="data">
                                                    <span class="author">
                                                          {{ searchedVideo.snippet.title }} <br />
                                                    </span>
                                                        <span class="excerpt">
                                                            {{ searchedVideo.snippet.description}}
                                                            <button type="button" class="btn btn-secondary" (click)="youtubeSelect(searchedVideo)">Select</button>
                                                        </span>
                                                    </div>
                                                </span>
              
              
                                    </li>
                                </ul>
                              </div>
                          </div>
                              
              
                </div>
              </ng-template>
        </div>
      </div>
      