<div class="row">
    <a [routerLink]="['/admin/documentaries/']" [queryParams]="{ videoSource: videoSource.id }">
        <button class="btn btn-primary" type="submit">View documentaries</button>
    </a>
</div>

<a [routerLink]="['/admin/video-sources', videoSource.id, 'edit']">  
<button class="btn btn-primary" type="submit">Edit</button>
</a>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{ videoSource.id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ videoSource.name }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ videoSource.status }}</td>
        </tr>
        <tr>
            <td>Embed Allowed</td>
            <td>{{ videoSource.embedAllowed }}</td>
        </tr>
        <tr>
            <td>Embed Code</td>
            <td>{{ videoSource.embedCode }}</td>
        </tr>
        <tr>
    </tbody>
</table>