<table class="table table-striped">
    <tbody>
        <tr>
            <td>Slug</td>
            <td>{{ documentary.slug }}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{ documentary.title }}</td>
        </tr>
        <tr>
            <td>Storyline</td>
            <td>{{ documentary.storyline }}</td>
        </tr>
        <tr>
            <td>Summary</td>
            <td>{{ documentary.summary }}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{ documentary.category.name }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{{ documentary.year }}</td>
        </tr>
        <tr>
            <td>Length</td>
            <td>{{ documentary.length }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ documentary.status }}</td>
        </tr>
        <tr>
            <td>Views</td>
            <td>{{ documentary.views }}</td>
        </tr>
        <tr>
            <td>Short Url</td>
            <td>{{ documentary.shortUrl }}</td>
        </tr>
        <tr>
            <td>Poster</td>
            <td>{{ documentary.poster }}</td>
        </tr>
        <tr>
            <td>Wide Image</td>
            <td>{{ documentary.wideImage }}</td>
        </tr>
        <tr>
            <td>Video Souce</td>
            <td>{{ documentary.standalone.videoSource.name }}</td>
        </tr>
        <tr>
            <td>Video ID</td>
            <td>{{ documentary.standalone.videoId }}</td>
        </tr>
        <tr>
            <td>Featured</td>
            <td>{{ documentary.featured }}</td>
        </tr>
        <tr>
            <td>Created At</td>
            <td>{{ documentary.createdAt }}</td>
        </tr>
        <tr>
            <td>Updated At</td>
            <td>{{ documentary.updatedAt }}</td>
        </tr>
    </tbody>
</table>