<div class="container">
    <div class="row">
        <h1>{{ documentary.title }}</h1>
        <div style="margin-top: 20px">
            <a [routerLink]="['/add/episodic/edit', documentary.slug]">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
        </div>
        <table class="table table-striped">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Status</td>
                    <td>{{ documentary.status }}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{ documentary.category.name }}</td>
                </tr>
                <tr>
                    <td>Storyline</td>
                    <td>{{ documentary.storyline }}</td>
                </tr>
                <tr>
                    <td>Summary</td>
                    <td>{{ documentary.summary }}</td>
                </tr>
                <tr>
                    <td>Year From</td>
                    <td>{{ documentary.yearFrom }}</td>
                </tr>
                <tr>
                    <td>Year To</td>
                    <td>{{ documentary.yearTo }}</td>
                </tr>
                <tr>
                    <td>Poster</td>
                    <td><img src="{{ documentary.poster }}" height="200" width="160" /></td>
                </tr>
                <tr>
                    <td>Wide Image</td>
                    <td><img src="{{ documentary.wideImage }}" height="300" width="300" /></td>
                </tr>
                <tr>
                    <td>IMDB ID</td>
                    <td>{{ documentary.imdbId }}</td>
                </tr>
                <tr>
                    <td>Video Sources</td>
                    <td>{{ documentary.videoSources }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h2>Seasons</h2>
        <br>
        <div *ngFor="let season of documentary.series.seasons">
            <h3>Season {{ season.number }}</h3>
            <div *ngFor="let episode of season.episodes">
                <table class="table table-striped">
                    <thead>

                    </thead>
                    <tbody>

                        <tr>
                            <td>Episode Number</td>
                            <td>{{ episode.number }}</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>{{ episode.title }}</td>
                        </tr>
                        <tr>
                            <td>IMDB ID</td>
                            <td>{{ episode.imdbId }}</td>
                        </tr>
                        <tr>
                            <td>Storyline</td>
                            <td>{{ episode.storyline }}</td>
                        </tr>
                        <tr>
                            <td>Summary</td>
                            <td>{{ episode.summary }}</td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>{{ episode.duration }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>{{ episode.year }}</td>
                        </tr>
                        <tr>
                            <td>Video Source</td>
                            <td>
                                {{ episode.videoSource }}
                            </td>
                        </tr>
                        <tr>
                            <td>Video ID</td>
                            <td>{{ episode.videoId }}</td>
                        </tr>
                        <tr>
                            <td>Thumbnail</td>
                            <td><img src="{{ episode.thumbnail }}" height="250" width="250" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>