<br />

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Type</th>
        <th scope="col">Component</th>
        <th scope="col">Object Id</th>
        <th scope="col">Data</th>
        <th scope="col">Group Number</th>
        <th scope="col">Author</th>
        <th scope="col">Email</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities | paginate: config">
        <td>
            <a [routerLink]="['/admin/activity', activity.id]">
              {{ activity.id }}
          </a>
        </td>
        <td>{{ activity.user.username }}</td>
        <td>{{ activity.type }}</td>
        <td>{{ activity.component }}</td>
        <td>{{ activity.objectId }}</td>
        <td>{{ activity.data }}</td>
        <td>{{ activity.groupNumber }}</td>
        <td>{{ activity.auther }}</td>
        <td>{{ activity.email }}</td>
        <td>{{ activity.createdAt }}</td>
        <td>{{ activity.updatedAt }}</td>
      </tr>
    </tbody>
  </table>
  <div>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>