<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Slug</th>
        <th scope="col">Status</th>
        <th scope="col">Documentaries</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <a [routerLink]="['/admin/categories', category.slug]">
          {{ category.slug }}
      </a>
        <td>{{ category.name }}</td>
        <td>{{ category.slug }}</td>
        <td>{{ category.status }}</td>
        <td>{{ category.documentaryCount }}</td>
      </tr>
    </tbody>
  </table>