<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Embed Allowed</th>
        <th scope="col">Embed Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let videoSource of videoSources">
        <a [routerLink]="['/admin/video-sources', videoSource.id]">
          {{ videoSource.id }}
      </a>
        <td>{{ videoSource.name }}</td>
        <td>{{ videoSource.status }}</td>
        <td>{{ videoSource.embedAllowed }}</td>
        <td>{{ videoSource.embedCode }}</td>
      </tr>
    </tbody>
  </table>