<div class="container">
    <div class="row">
        <div class="col-md-7 offset-md-3 mt-5" style="margin-top: 20px">
            <div class="card">
                <div class="card-body">
                    <p *ngIf="isFetchingUser">Loading...</p>
                    <div *ngIf="!isFetchingUser" style="margin-bottom: 20px">
                        <a [routerLink]="['/user', user.username]">
                            <img src="{{ user.avatar }}" class="rounded-circle" style="float:left; margin-right: 10px"
                                width="100" height="100" alt="Profile picture of {{ user.name }}" />
                        </a>

                        <div style="float: left">
                            <h1>{{ user.name }}</h1>
                            <a [routerLink]="['/user', user.username]">@{{ user.username }}</a>
                        </div>

                        <br />
                        <div style="clear: both; float: left">
                            {{ user.aboutMe }}
                        </div>

                        <div style="float: right"
                            *ngIf="me !== null && user.username !== me.username && !isFetchingFollower">
                            <button (click)="followTop(user.id)" class="btn btn-outline-info" *ngIf="!isFollowing">
                                Follow
                            </button>
                            <button (click)="unfollowTop(user.id)" class="btn btn-info" *ngIf="isFollowing">
                                Following
                            </button>
                        </div>
                    </div>
                    <div style="clear:both"></div>

                    <ul class="nav nav-tabs" style="margin-top: 20px">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/user', user.username]">Activity</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active"
                                [routerLink]="['/user', user.username, 'documentaries']">Documentaries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active"
                                [routerLink]="['/user', user.username, 'following']">Following
                                ({{ followingCount }})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active"
                                [routerLink]="['/user', user.username, 'followers']">Followers ({{ followerCount }})</a>
                        </li>
                    </ul>

                    <p *ngIf="isFetchingFollowers">Loading...</p>
                    <div *ngIf="!isFetchingFollowers" style="margin-top: 20px">
                        <div class="card" style="margin-bottom: 20px"
                            *ngFor="let followerItem of followers | paginate: config">
                            <div class="row no-gutters">
                                {{ followerItem.userFrom.username }}
                                {{ followerItem | json }}

                                <span *ngIf="followerItem.userFrom.username !== me.username">
                                    <button (click)="unfollowFromSnippet(followerItem.userFrom.id)" class="btn btn-info"
                                        *ngIf="followerItem.isFollowing">
                                        Following
                                    </button>
                                    <button (click)="followFromSnippet(followerItem.userFrom.id)"
                                        class="btn btn-outline-info" *ngIf="!followerItem.isFollowing">
                                        Follow
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div style="margin-top: 20px; margin-bottom: 20px">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>